@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ebebeb;
}

.navegador {
  position: fixed;
  top: 0px;
  height: 90px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  z-index: 10;
}

@media only screen and (max-width: 649px) {
  .navegador {
    height: auto;
  }
}

nav {
  top: 0;
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100vw;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  z-index: 10;
  -webkit-box-shadow: 0 6px 6px -6px #777;
          box-shadow: 0 6px 6px -6px #777;
}

nav .logo img {
  height: 100px;
}

@media only screen and (max-width: 649px) {
  nav .logo img {
    height: 70px;
  }
}

nav .menu {
  width: 400px;
}

nav .menu .menu-list {
  width: 100%;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .menu .menu-list a {
  text-decoration: none;
  color: black;
}

nav .menu .menu-list a:hover {
  color: #0277bd;
  cursor: pointer;
}

nav .menu .menu-list .btn-menu {
  background-color: #0277bd;
  padding: 10px;
  border-radius: 13px;
  color: white;
}

nav .menu .menu-list .btn-menu:hover {
  color: #ffffff;
  cursor: pointer;
  background-color: #005b9f;
}

@media only screen and (max-width: 952px) {
  nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav .buscador {
    display: none;
  }
  nav .menu {
    display: none;
  }
}

nav .boton-menu-responsivo {
  display: none;
}

@media only screen and (max-width: 952px) {
  nav .boton-menu-responsivo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    padding: 15px;
    background-color: white;
    border: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  nav .boton-menu-responsivo span {
    position: relative;
    height: 4px;
    width: 30px;
    margin-bottom: 3px;
    border-radius: 15px;
    background-color: #0277bd;
  }
  nav .boton-menu-responsivo :nth-of-type(2) {
    width: 25px;
    color: #005b9f;
  }
}

.cerrar {
  -webkit-transition: -webkit-transform 3s ease-in-out;
  transition: -webkit-transform 3s ease-in-out;
  transition: transform 3s ease-in-out;
  transition: transform 3s ease-in-out, -webkit-transform 3s ease-in-out;
  background-color: white;
  border: none;
  border-radius: 300px;
  position: relative;
  -webkit-appearance: none;
}

.cerrar :nth-of-type(1) {
  -webkit-transform: rotate(-45deg) translate(-5px, 5.5px);
          transform: rotate(-45deg) translate(-5px, 5.5px);
}

.cerrar :nth-of-type(2) {
  opacity: 0;
}

.cerrar :nth-of-type(3) {
  -webkit-transform: rotate(45deg) translate(-5px, -5.5px);
          transform: rotate(45deg) translate(-5px, -5.5px);
}

.menu-responsivo {
  position: fixed;
  top: 80px;
  z-index: 10;
  height: 95vh;
  background-color: white;
  width: 50vw;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  overflow-y: hidden;
  color: white;
  padding-top: 15px;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

@media only screen and (max-width: 952px) {
  .menu-responsivo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0;
  }
}

@media only screen and (max-width: 649px) {
  .menu-responsivo {
    width: 100vw;
  }
}

.menu-responsivo .menu {
  width: 400px;
  height: 40%;
}

.menu-responsivo .menu .menu-list {
  width: 100%;
  height: 100%;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu-responsivo .menu .menu-list a {
  text-decoration: none;
  color: black;
}

.menu-responsivo .menu .menu-list a:hover {
  color: #0277bd;
  cursor: pointer;
}

.menu-responsivo .menu .menu-list .btn-menu {
  background-color: #0277bd;
  padding: 10px;
  border-radius: 13px;
  color: white;
}

.menu-responsivo .menu .menu-list .btn-menu:hover {
  color: #ffffff;
  cursor: pointer;
  background-color: #005b9f;
}

.menu-responsivo .menu-footer {
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu-responsivo .menu-footer li {
  font-size: 14px;
  list-style: none;
}

.menu-responsivo .menu-footer li a {
  text-decoration: none;
  color: #929292;
}

.activo {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform 0.4s ease-in;
  transition: -webkit-transform 0.4s ease-in;
  transition: transform 0.4s ease-in;
  transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
  -webkit-box-shadow: -22px 14px 22px 6px rgba(0, 0, 0, 0.164);
          box-shadow: -22px 14px 22px 6px rgba(0, 0, 0, 0.164);
}

.hero {
  margin-top: 75px;
  min-height: 70vh;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: url("../assets/img/Sin-título-1.jpg");
  background-size: cover;
  background-position: center;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 952px) {
  .hero {
    height: min-max(70vh, auto);
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-shadow: inset 20px 20px 600px 700px rgba(1, 60, 128, 0.658);
            box-shadow: inset 20px 20px 600px 700px rgba(1, 60, 128, 0.658);
  }
}

@media only screen and (max-width: 1024px) {
  .hero {
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
}

@media only screen and (max-width: 649px) {
  .hero {
    margin-top: 80px;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 15px;
    -webkit-box-shadow: inset 20px 20px 400px 700px rgba(0, 70, 150, 0.925);
            box-shadow: inset 20px 20px 400px 700px rgba(0, 70, 150, 0.925);
  }
}

.hero .texto {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  color: white;
  width: 50%;
  height: 80%;
  max-height: 600px;
}

.hero .texto::before {
  display: block;
  position: absolute;
  content: " ";
  height: 55%;
  width: 40%;
  background-image: url("../assets/img/26432.svg");
  background-size: contain;
  background-repeat: repeat;
  background-position: right;
  background-origin: border-box;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  fill: #009eb4;
  color: #009eb4;
}

.hero .texto h1 {
  text-align: center;
  font-size: 1.5em;
  background-color: #ffce00;
  color: black;
  margin: none;
  width: 80%;
  padding: 10px 10px 5px 10px;
  z-index: 3;
}

.hero .texto h2 {
  width: 80%;
  padding: 30px;
  position: relative;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  z-index: 2;
  line-height: 30px;
}

.hero .texto h2:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #1100ad;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: skewY(-2deg);
          transform: skewY(-2deg);
  z-index: -1;
  -webkit-box-shadow: 12px 3px 15px 5px rgba(0, 30, 128, 0.342);
          box-shadow: 12px 3px 15px 5px rgba(0, 30, 128, 0.342);
}

@media only screen and (max-width: 952px) {
  .hero .texto h2 {
    background-color: #1100ad;
  }
  .hero .texto h2::before {
    display: none;
  }
}

@media only screen and (max-width: 649px) {
  .hero .texto h2 {
    background-color: #1100ad;
  }
  .hero .texto h2::before {
    display: none;
  }
}

.hero .texto .azul {
  margin-left: 30%;
  margin-top: -10px;
  padding: 25px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0a1066;
  font-size: 1.3em;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: skewY(-2deg);
          transform: skewY(-2deg);
  z-index: 3;
}

.hero .texto .azul p {
  -webkit-transform: skewY(2deg);
          transform: skewY(2deg);
}

@media only screen and (max-width: 952px) {
  .hero .texto .azul {
    margin-left: 0;
    -webkit-transform: none;
            transform: none;
  }
  .hero .texto .azul p {
    -webkit-transform: none;
            transform: none;
  }
}

@media only screen and (max-width: 649px) {
  .hero .texto .azul {
    margin-left: 0;
    -webkit-transform: none;
            transform: none;
  }
  .hero .texto .azul p {
    -webkit-transform: none;
            transform: none;
  }
}

.hero .texto .amarillo {
  text-align: justify;
  margin-left: 40%;
  margin-top: -7px;
  position: relative;
  z-index: 3;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffce00;
  padding: 20px;
  background-color: #ffce00;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: skewY(-2deg);
          transform: skewY(-2deg);
}

.hero .texto .amarillo strong {
  color: black;
}

.hero .texto .amarillo p {
  -webkit-transform: skewY(2deg);
          transform: skewY(2deg);
}

@media only screen and (max-width: 952px) {
  .hero .texto .amarillo {
    margin-left: 0;
    -webkit-transform: none;
            transform: none;
  }
  .hero .texto .amarillo p {
    -webkit-transform: none;
            transform: none;
  }
}

@media only screen and (max-width: 649px) {
  .hero .texto .amarillo {
    margin-left: 0;
    -webkit-transform: none;
            transform: none;
  }
  .hero .texto .amarillo p {
    -webkit-transform: none;
            transform: none;
  }
}

@media only screen and (max-width: 952px) {
  .hero .texto {
    margin-right: auto;
    margin-left: auto;
    width: 40%;
  }
  .hero .texto::before {
    display: none;
  }
  .hero .texto h1,
  .hero .texto h2,
  .hero .texto div,
  .hero .texto .azul,
  .hero .texto .amarillo {
    width: 100%;
    padding: 15px;
  }
}

@media only screen and (max-width: 1024px) {
  .hero .texto {
    width: 50%;
  }
}

@media only screen and (max-width: 649px) {
  .hero .texto {
    width: 90%;
    text-align: center;
  }
  .hero .texto::before {
    display: none;
  }
  .hero .texto h1 {
    font-size: 1.4em;
  }
}

.hero .formulario {
  width: 30%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #009eb4;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}

@media only screen and (max-width: 649px) {
  .hero .formulario {
    padding: 15px;
  }
}

.hero .formulario form {
  font-weight: lighter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .formulario form input:focus {
  outline: none !important;
  outline-width: 0 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.hero .formulario form input[type="text"],
.hero .formulario form input[type="email"],
.hero .formulario form input[type="number"],
.hero .formulario form input[type="tel"] {
  color: white;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  font-size: 15px;
}

.hero .formulario form input {
  margin-top: 10px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 952px) {
  .hero .formulario {
    width: 50%;
    max-height: 600px;
  }
}

@media only screen and (max-width: 1024px) {
  .hero .formulario {
    width: 40vw;
  }
}

@media only screen and (max-width: 649px) {
  .hero .formulario {
    width: 95%;
    margin-top: 15px;
  }
}

.hero .formulario a {
  text-decoration: none;
  color: white;
}

.hero .formulario a:hover {
  color: black;
}

.btn-primario {
  border: none;
  background-color: #ffce00;
  height: 45px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  color: black;
  font-weight: bold;
  font-size: 0.8em;
  cursor: pointer;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  outline: none;
}

.btn-primario a {
  color: white;
  text-decoration: none;
}

.btn-primario:hover {
  background-color: #0067cb;
  color: white;
  -webkit-box-shadow: 0px 2px 8px rgba(2, 0, 27, 0.219);
          box-shadow: 0px 2px 8px rgba(2, 0, 27, 0.219);
}

.btn-primario:hover a {
  color: white;
}

.btn-secundario {
  border: none;
  background-color: #0067cb;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 0.8em;
  cursor: pointer;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  padding: 15px;
  outline: none;
}

.btn-secundario a {
  color: black;
  text-decoration: none;
}

.btn-secundario:hover {
  background-color: #ffce00;
  color: black;
  -webkit-box-shadow: 0px 2px 8px rgba(2, 0, 27, 0.219);
          box-shadow: 0px 2px 8px rgba(2, 0, 27, 0.219);
}

.promo {
  height: auto;
  background-color: white;
}

.promo .contenedor--promo {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media only screen and (max-width: 952px) {
  .promo .contenedor--promo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

@media only screen and (max-width: 649px) {
  .promo .contenedor--promo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.promo .izquierda,
.promo .derecha {
  width: 50%;
  margin: 30px;
  text-align: center;
}

@media only screen and (max-width: 952px) {
  .promo .izquierda,
  .promo .derecha {
    width: 80%;
  }
}

.promo .izquierda {
  border-radius: 3px;
  -webkit-box-shadow: 12px 12px 22px 12px rgba(61, 61, 61, 0.089);
          box-shadow: 12px 12px 22px 12px rgba(61, 61, 61, 0.089);
  padding-bottom: 15px;
}

.promo .izquierda .ribbon {
  position: relative;
  width: 100%;
  height: 50px;
  position: relative;
  margin-bottom: 30px;
  margin-left: -15px;
  background-size: cover;
  color: white;
}

.promo .izquierda .ribbon span {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 1em;
}

@media only screen and (max-width: 649px) {
  .promo .izquierda .ribbon span {
    font-size: 0.7em;
  }
}

.promo .izquierda .ribbon span strong {
  font-size: 2em;
}

.promo .izquierda .ribbon .ribbon5 {
  display: block;
  width: calc(100% + 20px);
  height: 65px;
  line-height: 55px;
  text-align: center;
  margin-left: 5px;
  margin-right: -10px;
  background: #ed1919;
  position: relative;
  top: 20px;
  z-index: 3;
}

.promo .izquierda .ribbon .ribbon5:before, .promo .izquierda .ribbon .ribbon5:after {
  content: "";
  position: absolute;
}

.promo .izquierda .ribbon .ribbon5:before {
  height: 0;
  width: 0;
  bottom: -10px;
  left: 0;
  border-top: 10px solid #a30909;
  border-left: 10px solid transparent;
}

.promo .izquierda .ribbon .ribbon5:after {
  height: 0;
  width: 0;
  right: 0;
  bottom: -10px;
  border-top: 10px solid #a30909;
  border-right: 10px solid transparent;
}

.promo .izquierda .antes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 25%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #d4d4d4;
  color: black;
  z-index: 2;
}

.promo .izquierda .antes p {
  margin-top: 5px;
}

@media only screen and (max-width: 649px) {
  .promo .izquierda .antes {
    width: 60%;
  }
}

.promo .izquierda .texto {
  padding: 15px;
}

.promo .izquierda .btn-primario {
  background-color: #64dd17;
}

.promo .derecha iframe {
  width: 100%;
  min-height: 315px;
}

@media only screen and (max-width: 649px) {
  .promo .derecha {
    width: 100%;
  }
}

.minegociosigue {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.minegociosigue h3 {
  font-size: 2em;
  color: #009eb4;
  margin-top: 15px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 649px) {
  .minegociosigue h3 {
    font-size: 1.6em;
  }
}

.minegociosigue .banamex {
  font-weight: bold;
  font-size: 1.2em;
}

.minegociosigue :nth-child(3) {
  margin: 30px;
  font-size: 1.2em;
  font-weight: 300;
}

@media only screen and (max-width: 649px) {
  .minegociosigue :nth-child(3) {
    margin: 15px;
  }
}

.cardsservicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 30px;
}

@media only screen and (max-width: 952px) {
  .cardsservicios {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.cardsservicios .tienda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  max-width: 420px;
  width: 100%;
  height: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cardsservicios .tienda h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: #9f1f63;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 1.4em;
}

.cardsservicios .tienda h4 img {
  margin-right: 10px;
}

.cardsservicios .tienda p {
  font-size: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  color: white;
  height: 180px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #722454;
  margin-bottom: 5px;
}

@media only screen and (max-width: 952px) {
  .cardsservicios .tienda p {
    font-size: 1em;
    text-align: center;
  }
}

@media only screen and (max-width: 649px) {
  .cardsservicios .tienda p {
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 5ox;
  }
}

.cardsservicios .tienda .liston {
  --p: 25px;
  background-color: #ffbc00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  padding: 0 var(--p);
  position: relative;
  left: var(--p);
  text-align: center;
  width: 70%;
  margin-top: -90px;
  margin-left: 75px;
  font-size: 12px;
}

.cardsservicios .tienda .liston strong {
  color: red;
  font-size: 2.4em;
  font-weight: normal;
}

@media only screen and (max-width: 649px) {
  .cardsservicios .tienda .liston {
    margin-left: 0px;
    margin-top: -120px;
    height: 80px;
  }
}

.cardsservicios .tienda .liston:before,
.cardsservicios .tienda .liston:after {
  background-color: inherit;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: calc(var(--p) / 2);
  width: var(--p);
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  z-index: -1;
}

.cardsservicios .tienda .liston:before {
  left: 0;
  -webkit-transform: skewy(45deg);
          transform: skewy(45deg);
}

.cardsservicios .tienda .liston:after {
  right: 0;
  -webkit-transform: skewy(-45deg);
          transform: skewy(-45deg);
}

.cardsservicios .tienda .tachado {
  text-decoration: line-through;
}

.cardsservicios .tienda .contrato {
  width: 90%;
  color: white;
  font-size: 0.8em;
  text-align: right;
  padding: 10px;
}

.cardsservicios .tienda .features {
  height: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  width: 100%;
}

.cardsservicios .tienda .features li:nth-child(12) {
  border-bottom: none;
}

.cardsservicios .tienda .features li {
  font-weight: lighter;
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid black;
}

@media only screen and (max-width: 952px) {
  .cardsservicios .tienda {
    margin-bottom: 25px;
  }
}

.cardsservicios .supertienda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  max-width: 420px;
  width: 100%;
  height: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cardsservicios .supertienda h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: #f15b29;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 1.4em;
}

.cardsservicios .supertienda h4 img {
  margin-right: 10px;
}

.cardsservicios .supertienda p {
  font-size: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  color: white;
  height: 180px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #bc4524;
}

@media only screen and (max-width: 952px) {
  .cardsservicios .supertienda p {
    font-size: 1em;
    text-align: center;
  }
}

@media only screen and (max-width: 649px) {
  .cardsservicios .supertienda p {
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 5ox;
  }
}

.cardsservicios .supertienda .liston {
  --p: 25px;
  background-color: #ffbc00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  padding: 0 var(--p);
  position: relative;
  left: var(--p);
  text-align: center;
  width: 70%;
  margin-top: -90px;
  margin-left: 75px;
  font-size: 12px;
}

.cardsservicios .supertienda .liston strong {
  color: red;
  font-size: 2.4em;
  font-weight: normal;
}

@media only screen and (max-width: 649px) {
  .cardsservicios .supertienda .liston {
    margin-left: 0px;
    margin-top: -120px;
    height: 86px;
  }
}

.cardsservicios .supertienda .liston:before,
.cardsservicios .supertienda .liston:after {
  background-color: inherit;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: calc(var(--p) / 2);
  width: var(--p);
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  z-index: -1;
}

.cardsservicios .supertienda .liston:before {
  left: 0;
  -webkit-transform: skewy(45deg);
          transform: skewy(45deg);
}

.cardsservicios .supertienda .liston:after {
  right: 0;
  -webkit-transform: skewy(-45deg);
          transform: skewy(-45deg);
}

.cardsservicios .supertienda .tachado {
  text-decoration: line-through;
}

.cardsservicios .supertienda .contrato {
  width: 90%;
  color: white;
  font-size: 0.8em;
  text-align: right;
  padding: 10px;
}

.cardsservicios .supertienda .features {
  height: 100%;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  width: 100%;
}

.cardsservicios .supertienda .features li:nth-child(13) {
  border-bottom: none;
}

.cardsservicios .supertienda .features li {
  font-weight: lighter;
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid black;
}

.storytelling {
  min-height: 520px;
  height: auto;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  padding: 30px 0px 30px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 952px) {
  .storytelling {
    padding: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.storytelling img {
  width: 50%;
}

@media only screen and (max-width: 952px) {
  .storytelling img {
    width: 100%;
    height: 100%;
  }
}

.storytelling .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80%;
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: white;
  -webkit-box-shadow: 12px 12px 22px 12px rgba(61, 61, 61, 0.336);
          box-shadow: 12px 12px 22px 12px rgba(61, 61, 61, 0.336);
  margin-left: -120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
  font-size: 1em;
}

@media only screen and (max-width: 952px) {
  .storytelling .contenedor {
    margin-left: 0px;
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 60px;
  }
}

@media only screen and (max-width: 649px) {
  .storytelling .contenedor {
    padding: 30px;
  }
}

.storytelling .contenedor p {
  text-align: justify;
  font-weight: lighter;
}

.storytelling .contenedor .grid {
  padding: 15px;
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  row-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.storytelling .contenedor .grid .grid-element {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #bc5100;
}

.storytelling .contenedor .grid .grid-element p {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 649px) {
  .storytelling .contenedor .grid .grid-element p {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.storytelling .contenedor .grid .grid-element i {
  color: black;
  margin-right: 8px;
  font-size: 1.6em !important;
}

@media only screen and (max-width: 952px) {
  .storytelling .contenedor .grid p {
    text-align: center;
  }
}

@media only screen and (max-width: 649px) {
  .storytelling .contenedor .grid {
    padding: 0px;
    margin-top: 20px;
  }
  .storytelling .contenedor .grid i {
    margin-bottom: 15px;
  }
  .storytelling .contenedor .grid p {
    text-align: center;
  }
}

.empezar {
  position: relative;
  min-height: 400px;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 649px) {
  .empezar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.empezar .izquierda {
  text-align: center;
  font-weight: 1.2em;
}

.empezar .izquierda img {
  width: 248px;
  height: 201px;
  margin-bottom: 10px;
}

.empezar .derecha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-size: 1.2em;
}

.empezar .derecha .titulo {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1.9em;
}

.partners {
  min-height: 180px;
  height: auto;
  background-color: #0473ce;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 649px) {
  .partners {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    height: auto;
    padding: 15px;
  }
}

.partners .uno,
.partners .dos {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 649px) {
  .partners .uno,
  .partners .dos {
    width: 100%;
  }
}

.partners .uno p {
  margin-bottom: 15px;
  color: white;
  font-size: 1.3em;
}

.partners .uno p::after, .partners .uno p::before {
  display: inline-block;
  content: "";
  border-top: 0.2rem solid white;
  width: 7rem;
  margin: 0 1rem;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

@media only screen and (max-width: 649px) {
  .partners .uno p::after, .partners .uno p::before {
    display: none;
  }
}

.partners .uno .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

@media only screen and (max-width: 649px) {
  .partners .uno .logos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    height: auto;
    margin-bottom: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .partners .uno .logos img {
    height: auto;
    width: 50%;
    margin-bottom: 10px;
  }
}

.partners .dos {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners .dos p {
  color: #ffce00;
  font-size: 1.7em;
  margin-bottom: 10px;
}

.partners .dos a {
  text-decoration: none;
  color: white;
  font-size: 1.7em;
  margin-bottom: 10px;
}

.partners .dos .redes a {
  margin-right: 15px;
}

.partners .dos .redes a:hover {
  color: black;
  cursor: pointer;
}

footer {
  min-height: 80px;
  background-color: black;
  color: white;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: justify;
  font-size: 13px;
}

footer a {
  text-align: center;
  text-decoration: none;
  color: Black;
  color: white;
  cursor: pointer;
}

footer a:hover {
  color: #ffce00;
}

footer p {
  margin-top: 10px;
  font-size: 13px;
  font-weight: normal;
  max-width: 800px;
  text-align: center;
}

@media only screen and (max-width: 649px) {
  footer p,
  footer a {
    font-size: 10px;
  }
}

.aceptar {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  font-size: 13px;
}

.aceptar label {
  margin-left: 10px;
}

.exito {
  text-align: center;
  padding: 15px;
  margin-top: 80px;
  height: 70vh;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media only screen and (max-width: 952px) {
  .exito {
    height: 75vh;
  }
}

@media only screen and (max-width: 649px) {
  .exito {
    margin-top: 80px;
  }
}

.exito h1 {
  color: #ea8819;
}

.exito i {
  color: green;
  font-size: 7em;
}

.exito .upsi {
  color: #da3333fa;
  font-size: 7em;
}

.exito a {
  text-decoration: none;
  color: inherit;
}

.exito p a {
  color: #ea8819;
  font-weight: bold;
}

.exito p a:hover {
  color: #0277bd !important;
  cursor: pointer;
}

.exito-body {
  background-color: black;
}

.activo {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform 0.4s ease-in;
  transition: -webkit-transform 0.4s ease-in;
  transition: transform 0.4s ease-in;
  transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
  -webkit-box-shadow: -22px 14px 22px 6px rgba(0, 0, 0, 0.164);
          box-shadow: -22px 14px 22px 6px rgba(0, 0, 0, 0.164);
}
/*# sourceMappingURL=style.css.map */