$ColorAccion: #0277bd;
$ColorSecundario: #005b9f;

@mixin phone {
  @media only screen and (max-width: 649px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 952px) {
    @content;
  }
}

@mixin tableth {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (max-width: 1324px) {
    @content;
  }
}

@mixin pantalla {
  @media only screen and (min-width: 2145px) {
    @content;
  }
}
@mixin mobile-landscape-only {
  @media only screen and (min-width: $mq-mobile-portrait + 1) and (max-width: $mq-mobile-landscape) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&display=swap");
  font-family: "Montserrat", sans-serif;
}
body {
  box-sizing: border-box;
  background-color: rgb(235, 235, 235);
}

.navegador {
  position: fixed;
  top: 0px;
  height: 90px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 100%;
  z-index: 10;
  @include phone {
    height: auto;
  }
}

nav {
  top: 0;
  position: fixed;
  box-sizing: border-box;
  background-color: #ffffff;
  height: 80px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  width: 100vw;
  flex-flow: wrap;
  z-index: 10;
  box-shadow: 0 6px 6px -6px #777;

  .logo {
    img {
      height: 100px;
      @include phone {
        height: 70px;
      }
    }
  }

  .menu {
    width: 400px;

    .menu-list {
      width: 100%;
      font-size: 1em;
      display: flex;
      list-style: none;
      justify-content: space-between;

      a {
        text-decoration: none;
        color: black;
        &:hover {
          color: $ColorAccion;
          cursor: pointer;
        }
      }

      .btn-menu {
        background-color: $ColorAccion;
        padding: 10px;
        border-radius: 13px;
        color: white;
        &:hover {
          color: #ffffff;
          cursor: pointer;
          background-color: $ColorSecundario;
        }
      }
    }
  }
  //? responsivo del menu

  @include tablet {
    & {
      justify-content: space-around;
    }
    .buscador {
      display: none;
    }
    .menu {
      display: none;
    }
  }

  .boton-menu-responsivo {
    display: none;
    @include tablet {
      display: flex;
      flex-flow: column;
      align-items: center;
      cursor: pointer;
      padding: 15px;
      background-color: white;
      border: none;
      appearance: none;

      span {
        position: relative;
        height: 4px;
        width: 30px;
        margin-bottom: 3px;
        border-radius: 15px;
        background-color: $ColorAccion;
      }
      :nth-of-type(2) {
        width: 25px;
        color: $ColorSecundario;
      }
    }
  }
}

.cerrar {
  transition: transform 3s ease-in-out;
  background-color: white;
  border: none;
  border-radius: 300px;
  position: relative;
  -webkit-appearance: none;
  :nth-of-type(1) {
    transform: rotate(-45deg) translate(-5px, 5.5px);
  }
  :nth-of-type(2) {
    opacity: 0;
  }
  :nth-of-type(3) {
    transform: rotate(45deg) translate(-5px, -5.5px);
  }
}

.menu-responsivo {
  position: fixed;
  top: 80px;
  z-index: 10;
  height: 95vh;
  background-color: rgb(255, 255, 255);
  width: 50vw;
  display: none;
  flex-flow: column;
  overflow-y: hidden;
  color: white;
  padding-top: 15px;
  transition: transform 0.2s ease-in;
  transform: translateX(100%);
  @include tablet {
    display: flex;
    align-items: center;
    right: 0;
  }
  @include phone {
    width: 100vw;
  }

  .menu {
    width: 400px;
    height: 40%;
    .menu-list {
      width: 100%;
      height: 100%;
      font-size: 1em;
      display: flex;
      flex-flow: column;
      align-items: center;

      list-style: none;
      justify-content: space-around;

      a {
        text-decoration: none;
        color: black;
        &:hover {
          color: $ColorAccion;
          cursor: pointer;
        }
      }

      .btn-menu {
        background-color: $ColorAccion;
        padding: 10px;
        border-radius: 13px;
        color: white;
        &:hover {
          color: #ffffff;
          cursor: pointer;
          background-color: $ColorSecundario;
        }
      }
    }
  }
  .menu-footer {
    height: 30vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;

    li {
      font-size: 14px;
      list-style: none;
      a {
        text-decoration: none;
        color: rgb(146, 146, 146);
      }
    }
  }
}

.activo {
  transform: translateX(0%);
  transition: transform 0.4s ease-in;
  box-shadow: -22px 14px 22px 6px rgba(0, 0, 0, 0.164);
}

//*Fin de navegador
.hero {
  margin-top: 75px;
  min-height: 70vh;
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  background-image: url("../assets/img/Sin-título-1.jpg");
  background-size: cover;
  background-position: center;
  padding: 30px;
  box-sizing: border-box;
  @include tablet {
    height: min-max(70vh, auto);
    align-content: flex-start;
    box-shadow: inset 20px 20px 600px 700px rgba(1, 60, 128, 0.658);
  }

  @include tableth {
    align-content: flex-start;
  }

  @include phone {
    margin-top: 80px;
    height: auto;
    flex-flow: column;
    padding: 15px;
    box-shadow: inset 20px 20px 400px 700px rgba(0, 70, 150, 0.925);
  }

  .texto {
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    flex-flow: column;
    color: white;
    width: 50%;
    height: 80%;
    max-height: 600px;
    &::before {
      display: block;
      position: absolute;
      content: " ";
      height: 55%;
      width: 40%;
      background-image: url("../assets/img/26432.svg");
      background-size: contain;
      background-repeat: repeat;
      background-position: right;
      background-origin: border-box;
      transform: rotate(-15deg);
      fill: #009eb4;
      color: #009eb4;
    }

    h1 {
      text-align: center;
      font-size: 1.5em;
      background-color: #ffce00;
      color: black;
      margin: none;
      width: 80%;
      padding: 10px 10px 5px 10px;
      z-index: 3;
    }
    h2 {
      width: 80%;
      padding: 30px;
      position: relative;
      font-weight: 300;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      z-index: 2;
      line-height: 30px;
      &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgb(17, 0, 173);
        transform-origin: left top;
        transform: skewY(-2deg);
        z-index: -1;
        box-shadow: 12px 3px 15px 5px rgba(0, 30, 128, 0.342);
      }
      @include tablet {
        background-color: rgb(17, 0, 173);
        &::before {
          display: none;
        }
      }
      @include phone {
        background-color: rgb(17, 0, 173);
        &::before {
          display: none;
        }
      }
    }
    .azul {
      margin-left: 30%;
      margin-top: -10px;
      padding: 25px;
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #0a1066;
      font-size: 1.3em;
      transform-origin: left top;
      transform: skewY(-2deg);
      z-index: 3;
      p {
        transform: skewY(2deg);
      }
      @include tablet {
        margin-left: 0;
        transform: none;
        p {
          transform: none;
        }
      }
      @include phone {
        margin-left: 0;
        transform: none;
        p {
          transform: none;
        }
      }
    }
    .amarillo {
      text-align: justify;
      margin-left: 40%;
      margin-top: -7px;
      position: relative;
      z-index: 3;
      font-size: 1em;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ffce00;
      padding: 20px;
      strong {
        color: black;
      }

      background-color: #ffce00;
      transform-origin: left top;
      transform: skewY(-2deg);

      p {
        transform: skewY(2deg);
      }
      @include tablet {
        margin-left: 0;
        transform: none;
        p {
          transform: none;
        }
      }
      @include phone {
        margin-left: 0;
        transform: none;
        p {
          transform: none;
        }
      }
    }

    @include tablet {
      margin-right: auto;
      margin-left: auto;
      width: 40%;
      &::before {
        display: none;
      }
      h1,
      h2,
      div,
      .azul,
      .amarillo {
        width: 100%;
        padding: 15px;
      }
    }
    @include tableth {
      width: 50%;
    }
    @include phone {
      width: 90%;
      text-align: center;
      &::before {
        display: none;
      }

      h1 {
        font-size: 1.4em;
      }
    }
  }
  .formulario {
    width: 30%;
    height: 90%;
    display: flex;
    flex-flow: column;
    background-color: #009eb4;
    padding: 30px;
    box-sizing: border-box;
    color: white;
    @include phone {
      padding: 15px;
    }

    form {
      font-weight: lighter;
      display: flex;
      height: 100%;
      flex-flow: column;
      justify-content: space-between;
      input:focus {
        outline: none !important;
        outline-width: 0 !important;
        box-shadow: none;
      }
      input[type="text"],
      input[type="email"],
      input[type="number"],
      input[type="tel"] {
        color: white;
        background: transparent;
        border: none;
        border-bottom: 1px solid white;
        font-size: 15px;
      }
      input {
        margin-top: 10px;
        margin-bottom: 15px;
      }
    }
    @include tablet {
      width: 50%;
      max-height: 600px;
    }
    @include tableth {
      width: 40vw;
    }
    @include phone {
      width: 95%;
      margin-top: 15px;
    }
    a {
      text-decoration: none;
      color: white;
      &:hover {
        color: black;
      }
    }
  }
}

.btn-primario {
  border: none;
  background-color: #ffce00;
  height: 45px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  color: black;
  font-weight: bold;
  font-size: 0.8em;
  cursor: pointer;
  transition: 0.2s ease all;
  outline: none;
  a {
    color: white;
    text-decoration: none;
  }

  &:hover {
    background-color: #0067cb;
    color: rgb(255, 255, 255);
    box-shadow: 0px 2px 8px rgba(2, 0, 27, 0.219);
    a {
      color: rgb(255, 255, 255);
    }
  }
}

.btn-secundario {
  border: none;
  background-color: #0067cb;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 0.8em;
  cursor: pointer;
  transition: 0.2s ease all;
  padding: 15px;
  outline: none;
  a {
    color: black;
    text-decoration: none;
  }

  &:hover {
    background-color: #ffce00;
    color: rgb(0, 0, 0);
    box-shadow: 0px 2px 8px rgba(2, 0, 27, 0.219);
  }
}
.promo {
  height: auto;

  background-color: white;

  .contenedor--promo {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;

    @include tablet {
      flex-flow: column;
    }
    @include phone {
      flex-flow: column;
    }
  }

  .izquierda,
  .derecha {
    width: 50%;
    margin: 30px;
    text-align: center;
    @include tablet {
      width: 80%;
    }
  }

  .izquierda {
    border-radius: 3px;
    box-shadow: 12px 12px 22px 12px rgba(61, 61, 61, 0.089);

    padding-bottom: 15px;

    .ribbon {
      position: relative;
      width: 100%;
      height: 50px;
      position: relative;
      margin-bottom: 30px;
      margin-left: -15px;
      background-size: cover;
      color: white;
      span {
        justify-content: center;
        align-content: center;
        font-size: 1em;
        @include phone {
          font-size: 0.7em;
        }
        strong {
          font-size: 2em;
        }
      }

      .ribbon5 {
        display: block;
        width: calc(100% + 20px);
        height: 65px;
        line-height: 55px;
        text-align: center;
        margin-left: 5px;
        margin-right: -10px;
        background: rgb(237, 25, 25);
        position: relative;
        top: 20px;
        z-index: 3;

        &:before,
        &:after {
          content: "";
          position: absolute;
        }

        &:before {
          height: 0;
          width: 0;
          bottom: -10px;
          left: 0;
          border-top: 10px solid #a30909;
          border-left: 10px solid transparent;
        }

        &:after {
          height: 0;
          width: 0;
          right: 0;
          bottom: -10px;
          border-top: 10px solid #a30909;
          border-right: 10px solid transparent;
        }
      }
    }

    .antes {
      display: flex;
      align-content: center;
      justify-content: center;
      height: 30px;
      width: 25%;
      position: relative;

      margin-left: auto;
      margin-right: auto;
      background-color: rgb(212, 212, 212);
      color: black;
      z-index: 2;
      p {
        margin-top: 5px;
      }

      @include phone {
        width: 60%;
      }
    }
    .texto {
      padding: 15px;
    }
    .btn-primario {
      background-color: #64dd17;
    }
  }

  .derecha {
    iframe {
      width: 100%;
      min-height: 315px;
    }
    @include phone {
      width: 100%;
    }
  }
}
.minegociosigue {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  h3 {
    font-size: 2em;
    color: #009eb4;
    margin-top: 15px;
    margin-bottom: 30px;
    @include phone {
      font-size: 1.6em;
    }
  }
  .banamex {
    font-weight: bold;
    font-size: 1.2em;
  }
  :nth-child(3) {
    margin: 30px;
    font-size: 1.2em;
    font-weight: 300;
    @include phone() {
      margin: 15px;
    }
  }
}

.cardsservicios {
  display: flex;
  max-width: 1200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  padding-bottom: 30px;
  @include tablet {
    flex-flow: column;
    width: 100%;
    align-items: center;
  }
  .tienda {
    display: flex;
    flex-flow: column;

    max-width: 420px;
    width: 100%;
    height: auto;

    align-items: flex-start;
    h4 {
      display: flex;
      text-align: center;
      width: 100%;
      height: 50px;
      background-color: #9f1f63;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 1.4em;
      img {
        margin-right: 10px;
      }
    }
    p {
      font-size: 0.8em;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding: 15px;
      color: white;
      height: 180px;
      width: 100%;
      box-sizing: border-box;
      background-color: #722454;
      margin-bottom: 5px;
      @include tablet {
        font-size: 1em;
        text-align: center;
      }
      @include phone {
        font-size: 0.8em;
        text-align: center;
        margin-bottom: 5ox;
      }
    }
    .liston {
      --p: 25px;
      background-color: #ffbc00;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      height: 60px;

      padding: 0 var(--p);
      position: relative;
      left: var(--p);
      text-align: center;
      width: 70%;
      margin-top: -90px;
      margin-left: 75px;
      font-size: 12px;
      strong {
        color: red;
        font-size: 2.4em;
        font-weight: normal;
      }
      @include phone {
        margin-left: 0px;
        margin-top: -120px;
        height: 80px;
      }
    }

    .liston:before,
    .liston:after {
      background-color: inherit;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: calc(var(--p) / 2);
      width: var(--p);
      filter: brightness(0.5);
      z-index: -1;
    }

    .liston:before {
      left: 0;
      transform: skewy(45deg);
    }

    .liston:after {
      right: 0;
      transform: skewy(-45deg);
    }

    .tachado {
      text-decoration: line-through;
    }
    .contrato {
      width: 90%;
      color: white;
      font-size: 0.8em;
      text-align: right;
      padding: 10px;
    }
    .features {
      height: 100%;
      padding: 10px;
      box-sizing: border-box;
      background-color: white;
      width: 100%;
      li:nth-child(12) {
        border-bottom: none;
      }
      li {
        font-weight: lighter;
        list-style: none;
        padding: 10px;
        border-bottom: 1px solid black;
      }
    }

    @include tablet {
      margin-bottom: 25px;
    }
  }

  .supertienda {
    display: flex;
    flex-flow: column;

    max-width: 420px;
    width: 100%;
    height: auto;

    align-items: flex-start;
    h4 {
      display: flex;
      text-align: center;
      width: 100%;
      height: 50px;
      background-color: #f15b29;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 1.4em;
      img {
        margin-right: 10px;
      }
    }
    p {
      font-size: 0.8em;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding: 15px;
      color: white;
      height: 180px;
      width: 100%;
      box-sizing: border-box;
      background-color: #bc4524;
      @include tablet {
        font-size: 1em;
        text-align: center;
      }
      @include phone {
        font-size: 0.8em;
        text-align: center;
        margin-bottom: 5ox;
      }
    }
    .liston {
      --p: 25px;
      background-color: #ffbc00;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      height: 60px;

      padding: 0 var(--p);
      position: relative;
      left: var(--p);
      text-align: center;
      width: 70%;
      margin-top: -90px;
      margin-left: 75px;
      font-size: 12px;
      strong {
        color: red;
        font-size: 2.4em;
        font-weight: normal;
      }
      @include phone {
        margin-left: 0px;
        margin-top: -120px;
        height: 86px;
      }
    }

    .liston:before,
    .liston:after {
      background-color: inherit;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: calc(var(--p) / 2);
      width: var(--p);
      filter: brightness(0.5);
      z-index: -1;
    }

    .liston:before {
      left: 0;
      transform: skewy(45deg);
    }

    .liston:after {
      right: 0;
      transform: skewy(-45deg);
    }

    .tachado {
      text-decoration: line-through;
    }
    .contrato {
      width: 90%;
      color: white;
      font-size: 0.8em;
      text-align: right;
      padding: 10px;
    }
    .features {
      height: 100%;
      padding: 5px;
      box-sizing: border-box;
      background-color: white;
      width: 100%;
      li:nth-child(13) {
        border-bottom: none;
      }
      li {
        font-weight: lighter;
        list-style: none;
        padding: 10px;
        border-bottom: 1px solid black;
      }
    }
  }
}

.storytelling {
  min-height: 520px;

  height: auto;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  padding: 30px 0px 30px 0px;
  box-sizing: border-box;
  @include tablet {
    padding: 0px;
    flex-flow: column;
  }
  img {
    width: 50%;

    @include tablet {
      width: 100%;
      height: 100%;
    }
  }
  .contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 40%;
    flex-flow: column;
    background-color: white;
    box-shadow: 12px 12px 22px 12px rgba(61, 61, 61, 0.336);
    margin-left: -120px;
    box-sizing: border-box;
    padding: 30px;
    font-size: 1em;
    @include tablet() {
      margin-left: 0px;
      width: 100%;
      box-shadow: none;
      padding: 60px;
    }
    @include phone {
      padding: 30px;
    }

    p {
      text-align: justify;
      font-weight: lighter;
    }

    .grid {
      padding: 15px;
      display: grid;
      width: 100%;
      height: auto;
      margin-top: 10px;
      margin-right: auto;
      margin-left: auto;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      row-gap: 30px;
      align-items: center;
      justify-content: center;

      .grid-element {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        color: #bc5100;
        p {
          text-align: left;
          display: flex;
          @include phone {
            flex-flow: column;
            text-align: center;
            justify-content: center;
            align-items: center;
          }
        }
        i {
          color: black;
          margin-right: 8px;
          font-size: 1.6em !important;
        }
      }

      @include tablet {
        p {
          text-align: center;
        }
      }
      @include phone {
        padding: 0px;
        margin-top: 20px;
        i {
          margin-bottom: 15px;
        }
        p {
          text-align: center;
        }
      }
    }
  }
}

.empezar {
  position: relative;
  min-height: 400px;
  width: 100%;

  background-color: white;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 5%;
  box-sizing: border-box;
  @include phone {
    flex-flow: column;
  }
  .izquierda {
    text-align: center;
    font-weight: 1.2em;

    img {
      width: 248px;
      height: 201px;
      margin-bottom: 10px;
    }
  }

  .derecha {
    display: flex;
    text-align: center;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    font-size: 1.2em;
    .titulo {
      align-items: flex-start;
      font-size: 1.9em;
    }
  }
}
.partners {
  min-height: 180px;
  height: auto;
  background-color: #0473ce;
  display: flex;
  align-items: center;
  justify-content: center;
  @include phone {
    flex-flow: column;
    height: auto;
    padding: 15px;
  }
  .uno,
  .dos {
    width: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
    @include phone {
      width: 100%;
    }
  }
  .uno {
    p {
      margin-bottom: 15px;
      color: white;
      font-size: 1.3em;
      &::after,
      &::before {
        display: inline-block;
        content: "";
        border-top: 0.2rem solid rgb(255, 255, 255);
        width: 7rem;
        margin: 0 1rem;
        transform: translateY(-7px);
      }
      @include phone {
        &::after,
        &::before {
          display: none;
        }
      }
    }
    .logos {
      display: flex;
      justify-content: space-around;
      width: 100%;
      @include phone {
        flex-flow: column;
        height: auto;
        margin-bottom: 15px;
        align-items: center;
        justify-content: center;
        img {
          height: auto;
          width: 50%;
          margin-bottom: 10px;
        }
      }
    }
  }
  .dos {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    p {
      color: #ffce00;
      font-size: 1.7em;
      margin-bottom: 10px;
    }
    a {
      text-decoration: none;
      color: white;
      font-size: 1.7em;
      margin-bottom: 10px;
    }
    .redes a {
      margin-right: 15px;
      &:hover {
        color: black;
        cursor: pointer;
      }
    }
  }
}
footer {
  min-height: 80px;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
  text-align: justify;
  font-size: 13px;

  a {
    text-align: center;
    text-decoration: none;
    color: Black;

    color: white;
    cursor: pointer;

    &:hover {
      color: #ffce00;
    }
  }
  p {
    margin-top: 10px;
    font-size: 13px;
    font-weight: normal;
    max-width: 800px;
    text-align: center;
  }

  p,
  a {
    @include phone {
      font-size: 10px;
    }
  }
}

.aceptar {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 13px;
  label {
    margin-left: 10px;
  }
}

.exito {
  text-align: center;
  padding: 15px;
  margin-top: 80px;

  @include tablet {
    height: 75vh;
  }

  @include phone {
    margin-top: 80px;
  }
  height: 70vh;
  background-color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  h1 {
    color: #ea8819;
  }
  i {
    color: green;
    font-size: 7em;
  }

  .upsi {
    color: #da3333fa;
    font-size: 7em;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  p a {
    color: #ea8819;
    font-weight: bold;
    &:hover {
      color: $ColorAccion !important;
      cursor: pointer;
    }
  }
}

.exito-body {
  background-color: rgb(0, 0, 0);
}

.activo {
  transform: translateX(0%);
  transition: transform 0.4s ease-in;
  box-shadow: -22px 14px 22px 6px rgba(0, 0, 0, 0.164);
}
